@model IndexViewModel

<h1>Flag Example</h1>
<p>Content: @Model.Content</p>

if (User.Identity?.IsAuthenticated ?? false)
{
    <a asp-action="create" asp-controller="flags"
       class="btn btn-primary">Create Flag</a>
}